<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camp.going.mapper.MyPageMapper">

    <update id="modifyName">
        UPDATE user
        SET name = #{name}
        WHERE email = #{email};
    </update>

    <update id="modifyPhoneNumber">
        UPDATE user
        SET phone_number = #{phoneNumber}
        WHERE email = #{email};
    </update>

    <update id="modifyPassword">
        UPDATE user
        SET password = #{password}
        WHERE email = #{email};
    </update>
    
    <select id="confirmReservation" resultType="mypage">
        SELECT
            C.camp_name, C.camp_homepage, C.camp_number,
            R.reg_date, R.reg_dates
        FROM reservation R
        LEFT JOIN camping C
        ON R.camp_id = C.camp_Id
        WHERE email = #{email}
    </select>


</mapper>