<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camp.going.mapper.NoticeMapper">

    <sql id="search">
        <if test="type == 'title'">
            WHERE notice_title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'content'">
            WHERE notice_content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'tc'">
            WHERE notice_title LIKE CONCAT('%', #{keyword}, '%')
            OR notice_content LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </sql>

    <sql id="search2">
        <if test="type == 'title'">
            AND notice_title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'content'">
            AND notice_content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'tc'">
            AND notice_title LIKE CONCAT('%', #{keyword}, '%')
            OR notice_content LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </sql>

    <insert id="save">
        INSERT INTO notice (notice_title, notice_content, notice_category)
        VALUES (#{noticeTitle}, #{noticeContent}, #{noticeCategory})
    </insert>

    <update id="modify">
        UPDATE notice
        SET notice_no = #{noticeNo}, notice_title = #{noticeTitle}, notice_content = #{noticeContent}, notice_category = #{noticeCategory}
        WHERE notice_no = #{noticeNo}
    </update>

    <delete id="delete">
        DELETE FROM notice
        WHERE notice_no = #{noticeNo}
    </delete>

    <update id="updateViewCount">
        UPDATE notice
        SET notice_count = notice_count + 1
        WHERE notice_no = #{nno}
    </update>

    <select id="findAll" resultType="notice">
        SELECT * FROM notice
        <include refid="search"/>
        ORDER BY notice_no DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="findOne" resultType="notice">
        SELECT * FROM notice
        WHERE notice_no = #{noticeNo}
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM notice
        <include refid="search"/>
    </select>

    <select id="findEssential" resultType="notice">
        SELECT * FROM notice
        WHERE notice_category = 'ESSENTIAL'
        <include refid="search2"/>
        ORDER BY notice_no DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="getCountEssential" resultType="int">
        SELECT COUNT(*) FROM notice
        WHERE notice_category = 'ESSENTIAL'
        <include refid="search2"/>
    </select>

    <select id="findNotice" resultType="notice">
        SELECT * FROM notice
        WHERE notice_category = 'NOTICE'
        <include refid="search2"/>
        ORDER BY notice_no DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="getCountNotice" resultType="int">
        SELECT COUNT(*) FROM notice
        WHERE notice_category = 'NOTICE'
        <include refid="search2"/>
    </select>

    <select id="findCommon" resultType="notice">
        SELECT * FROM notice
        WHERE notice_category = 'COMMON'
        <include refid="search2"/>
        ORDER BY notice_no DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="getCountCommon" resultType="int">
        SELECT COUNT(*) FROM notice
        WHERE notice_category = 'COMMON'
        <include refid="search2"/>
    </select>




</mapper>