<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camp.going.mapper.ReservationMapper">

    <insert id="reservationSave">


        INSERT INTO reservation
        (
          user_id
        , camp_id
        , reg_date
        , reg_dates
        )
        VALUES
        (
          #{userId}
        , #{campId}
        , #{regDate}
        , #{regDates}
        )


    </insert>

    <select id="findAllReservation" resultType="reservation">

        SELECT
        r.reservation_number,
        c.camp_name,
        u.email,
        r.reg_date,
        r.reg_dates,
        c.camp_price,
        u.phone_number
        FROM reservation r
        LEFT JOIN user u
        ON r.user_id = u.user_id
        LEFT JOIN camping c
        ON r.camp_id = c.camp_id
        ORDER BY reservation_number DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="reservationCamping" resultType="reservation">

        SELECT
        r.reservation_number,
        u.email,
        c.camp_name,
        r.reg_date,
        r.reg_dates,
        c.camp_price,
        u.phone_number
        FROM reservation r
        LEFT JOIN user u
        ON r.user_id = u.user_id
        LEFT JOIN camping c
        ON r.camp_id = c.camp_id

    </select>


    <select id="findReservation" resultType="reservation"
            parameterType="map">

        SELECT
          reservation_number
        , user_id
        , camp_id
        , reg_date
        , reg_dates
        FROM
        reservation
        WHERE
        reservation_number = #{reservationNumber}

    </select>


    <delete id="delete">

        DELETE FROM reservation
        WHERE camp_id = #{campId}

    </delete>

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM reservation
        WHERE user_id = #{userId}
    </select>

    <select id="count2" resultType="int">
        SELECT COUNT(*) FROM reservation
    </select>

</mapper>