<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camp.going.mapper.ReviewMapper">

    <insert id="saveReview">
        INSERT INTO review
        (review_content, email, camp_id, review_image,
        review_point, review_like, review_date)
        VALUES
        (#{reviewContent}, #{email}, #{campId},
        #{reviewImage}, #{reviewPoint}, #{reviewLike}, #{reviewDate})
    </insert>

    <select id="findAllReview" resultType="review">
        SELECT R.*, C.camp_name
        FROM review R
        LEFT JOIN camping C
        ON R.camp_id = C.camp_id
        ORDER BY review_no DESC;
    </select>

    <delete id="deleteReview">
        DELETE FROM review
        WHERE review_no = #{reviewNo}
    </delete>

    <update id="modifyReview">
        UPDATE review
        SET review_content = #{reviewContent},
        review_image = #{reviewImage},
        review_point = #{reviewPoint}
        WHERE review_no = #{reviewNo}
    </update>

    <update id="likeReview">
        UPDATE review
        SET review_like = review_like + 1
        WHERE review_no = #{reviewNo}
    </update>

    <update id="cancelLikeReview">
        UPDATE review
        SET review_like = review_like - 1
        WHERE review_no = #{reviewNo}
        AND review_like > 0;
    </update>

    <select id="bestReview" resultType="review">
        SELECT
        R.email, R.review_content, R.review_image, R.review_point, R.review_like,
        C.camp_name
        FROM review R
        LEFT JOIN camping C
        ON R.camp_id = C.camp_id
        ORDER BY review_like DESC, review_date DESC
        LIMIT 1
    </select>

    <select id="getCount" resultType="int">
        SELECT COUNT(*)
        FROM review
    </select>

</mapper>