<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camp.going.mapper.ReviewMapper">

    <insert id="saveReview">
        INSERT INTO review
            (review_title, review_content, email, camp_id, review_image,
            review_point, review_count, review_date)
        VALUES
            (#{reviewTitle}, #{reviewContent}, #{email}, #{campId},
            #{reviewImage}, #{reviewPoint}, #{reviewCount}, #{reviewDate})
    </insert>

    <select id="findAllReview" resultType="review">
        SELECT * FROM review
        ORDER BY review_no DESC;
    </select>

    <delete id="deleteReview">
        DELETE FROM review
        WHERE review_no = #{reviewNo}
    </delete>

    <update id="modifyReview">
        UPDATE review
        SET review_title = #{reviewTitle},
            review_content = #{reviewContent},
            review_image = #{reviewImage},
            review_point = #{reviewPoint}
        WHERE review_no = #{reviewNo}
    </update>

    <update id="countReview">
        UPDATE review
        SET review_count = review_count + 1
        WHERE review_no = #{reviewNo}
    </update>

    <select id="bestReview" resultType="review">
        SELECT
            email, review_title, review_content, review_image, review_point, review_count
        FROM review
        ORDER BY review_count DESC
        LIMIT 1
    </select>

</mapper>