<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camp.going.mapper.UserMapper">

    <insert id="save">

        INSERT INTO user
        (email, password, name, phone_number)
        VALUES
        (#{email}, #{password}, #{name}, #{phoneNumber})

    </insert>

    <select id="findUser" resultType="user">
        SELECT * FROM user

        WHERE email = #{email}

    </select>


    <select id="isDuplicate" resultType="boolean">

        SELECT COUNT(*)
        FROM user
        <if test="type == 'email'">
            WHERE email = #{keyword}
        </if>

    </select>

    <update id="saveAutoLogin">
        UPDATE user
        SET session_id = #{sessionId}, limit_time = #{limitTime}
        WHERE email = #{email}
    </update>

    <select id="findUserByCookie" resultType="user">
        SELECT
        email, password, phone_number, name, auth, limit_time
        FROM user
        WHERE session_id = #{sessionId}
    </select>

    <select id="selectUserById" resultType="user">

        SELECT
            user_id
            , email
            , phone_number
        FROM
            user
        WHERE
        user_id = #{userId}

    </select>

</mapper>