

section .title h1 {
    color: black;
    margin-top: 250px;
    font-size: 40px;
    text-align: center;
}

section .title h1 span {
  color: black;
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

section .camping-list .camping-box {
    width: 500px;
    height: 700px;
    background: #E4FFAA;
    margin-top: 50px;
    border-radius: 3%;
  
    position: relative;
  }
  
  section .camping-list .camping-box img {
    width: 465px;
    height: 465px;
  
    position: absolute;
    top: 18.5px;
    left: 18.5px;
    
    border-radius: 3%;
  
  }
  
  section .camping-list .camping-box .camping {
    color: black;
    font-family: "Yeon Sung", system-ui;
    font-weight: 400;
    font-style: normal;
    width: 465px;
    
    
  }
  
  section .camping-list .camping-box .camping li:first-child {
    font-size: 30px;
    text-decoration: underline;
    position: absolute;
    
    left: 18.5px;
    left: 18.5px;
    bottom: 140px;
  
  }
  
  section .camping-list .camping-box .camping li:nth-child(2) {
    font-size: 20px;
    position: absolute;
  
    left: 18.5px;
    right: 18.5px;
    bottom: 40px;
  }
  section .camping-list .camping-box .camping li:nth-child(3) {
    font-size: 20px;
    position: absolute;
  
    left: 18.5px;
    right: 18.5px;
    bottom: 20px;
  }
  section .camping-list .camping-box .camping li:nth-child() {
    font-size: 20px;
    position: absolute;
  
    left: 18.5px;
    right: 18.5px;
    bottom: 40px;
  }





  
  section .camping-list .camping-box .camping li:last-child {
    font-size: 50px;
    position: absolute;
  
    bottom: 120px;
    right: 30px;
  }
  