

/* div wrap */
#wrap.form-container {
  color: black;
}


section .title h1 {
    color: black;
    margin-top: 250px;
    font-size: 40px;
    text-align: center;
  }
  
  section .title h1 span {
  color: black;
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
  }
  
  
  
  section .notice-list {
  display: flex;
  justify-content: space-around;
  
  }
  
  
  
  section .notice-list .notice-box {
    width: 1000px;
    height: 700px;
    background: #E4FFAA;
    margin-top: 50px;
    border-radius: 3%;
    margin-bottom: 40px;
    position: relative;
  }

  section .notice-list .notice-box table {
    width: 900px;
    margin-left: 5%;
    margin-top: 7%;
    background: #F0EEEE;
    
  }
  
  section .notice-list thead {
    width: 900px;
  }

  section .notice-list thead tr {
    color: black;
    font-family: "Yeon Sung", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    border: 2px solid black;
    
    width: 900px;
    height: 30px;
    text-align: center;
    line-height: 50px;
    
  }
  
  


  section .notice-list thead tr th {
    margin-right: 15px;
    margin-left: -10px;    
    width: 100px;
    font-size: 30px;
  }

  
  .NoticeTitle {
    white-space: nowrap; /* 텍스트가 너무 길어지면 줄바꿈을 하지 않음 */
    overflow: hidden; /* 너무 길어진 텍스트는 숨김 처리 */
    text-overflow: ellipsis; /* 너무 길어진 텍스트는 ...으로 표시 */
}

section .Item .noticeCategory {
  width: 10%;
}

section .Item .NoticeNo {
  width: 10%;
}

section .Item .NoticeTitle {
  width: 50%;
}

section .Item .NoticeDate {
  width: 20%;

}
section .Item .NoticeCount {
  width: 10%;
}

 


    /* 내용칸 */
    .InNoticeContentbox {
        width: 900px;
        height: 381px;
        left: 50px;
        top: 174px;
        position: absolute;
        background: #F0EEEE;
        border: 2px black solid;
    }

    .InNoticeContent {
      width: 850px;
      height: 320px;
      left: 25px;
      top: 25px;
      position: absolute;
      color: black;
      font-size: 24px;
      font-family: Yeon Sung;
      font-weight: 400;
      word-wrap: break-word;
      white-space: pre-line;
      line-height: 1.2em;
      max-height: 320px;
      overflow-y: auto;
  }

    .NoticeBoardType {
        width: 266px;
        height: 37px;
        left: 50px;
        top: 20px;
        position: absolute;
        color: black;
        font-size: 24px;
        font-family: Yeon Sung;
        font-weight: 400;
        word-wrap: break-word;
    }


    .back-btn {
        height: 40px;
        width: 130px;
        word-wrap: break-word;
        position: absolute;
        top: 580px;
        left: 550px;
        font-size: 24px;
        font-family: Yeon Sung;
        font-weight: 400;
    }

    .buttons {
      height: 40px;
      width: 300px;
      word-wrap: break-word;
      position: absolute;
      top: 580px;
      left: 350px;
      font-size: 24px;
      font-family: Yeon Sung;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
    }

    .list-btn {
      width: 28%;
    height: 50px;
    font-size: 30px;
    border-radius: 4px;
    font-family: Yeon Sung;
    background-color: darkgray;
    cursor: pointer;
    position: relative;
    left: 110px;
    }

    .submit-button {
      width: 28%;
      height: 50px;
      font-size: 30px;
      border-radius: 4px;
      font-family: Yeon Sung;
      background-color: gold;
      cursor: pointer;
      position: relative;
      left: -105px;
    }

    #deleteForm {
      width: 28%;
    }

    .delete-button {
      width: 100%;
      height: 50px;
      font-size: 30px;
      border-radius: 4px;
      font-family: Yeon Sung;
      background-color: #EA9999;
      cursor: pointer;
    }