@import url(./common.css);

/* 폰트 쓰세염

  font-family: "Yeon Sung", system-ui;
    font-weight: 400;
    font-style: normal;
    
    
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;

    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    
    */

body {
  font-size: 15px;
  color: #fff;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}



/* header style */

header {
  background: #4BDB73;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 50;
}

header #wrap {
  /* border: black solid 1px; */
  display: flex;
  position: relative;
  bottom: 4px;
  align-items: center;

}

header .logo {
  /* border: red solid 1px; */
  font-size: 60px;
  margin: auto 50px;
  color: #fff;
  flex-grow: 1.5;
  display: flex;

}

header .logo a {
  color: white;
  margin-right: auto;
  font-weight: 100;
  text-decoration: none;
}

header .logo-content {
  /* border: yellow solid 1px; */
  display: flex;
  flex-grow: 4;
  margin-top: 30px;
  font-size: 25px;
  width: 64%;
  justify-content: space-around;
  align-items: center;
}

header .logo-content a {
  color: black;
  margin-right: 50px;
  margin-left: 0px;


}

header .logo-content a:hover {
  color: #fff;
  text-decoration: none;
}

header .login p {
  /* border: blue solid 1px; */
  /* position: absolute;
    right: 60px;
    bottom: 10px; */
  margin: auto 0;
  flex-grow: 0.5;
  width: 4%;
  align-items: center;
}



header .login {
  font-size: 28px;
  margin-top: 18px;
  margin-right: 50px;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes waviy {

  0%,
  40%,
  100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-20px)
  }
}



header .login a:hover {
  color: black;
  text-decoration: none;
}



header .logout {
  margin: auto 30px;
  flex-flow: 1;
  width: 8%;
  height: 60%;
  text-align: center;
  border-color: #fefefe;
  border-radius: 5px;
}

header .logout h1 {
  color: #fff;
  font-size: 18px;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-align: center;
}

header .logout h1 span {
  font-weight: 400;
  font-size: 25px;
}

header .logout a {
  font-size: 23px;
  margin: 2px;
  text-align: right;
}

header .logout a:hover {
  color: black;
  text-decoration: none;
}


/* 관리자 예약현황 버튼 */




header .reservation-admin a {

  color: #fff;
  font-size: 33px;

  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;

  align-content: center;
  background: #b4fc19a1;
  padding: 9px;
  border-radius: 10px;
}

header .reservation-admin a:hover {
  background: #d1ff6da1;
}





/* 우측 메뉴 */
header .menu-open {
  display: none;
  font-size: 50px;
  margin-right: 40px;
}

header .menu-open:hover {
  cursor: pointer;
}

header .gnb {
  background-color: #81f3a1;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 40px;
  height: 100vh;

  position: fixed;
  right: -140%;
  top: 0;

  display: flex;
  flex-direction: row-reverse;

  transition: 0.8s;
}

header .gnb.open {
  right: 0;
}

header .gnb .close {
  color: white;
  font-size: 50px;
  margin-left: 50px;
}

header .gnb .close:hover {
  cursor: pointer;
}

header .gnb ul {
  line-height: 2.6;
  letter-spacing: 2px;
  margin-top: 100px;
}

header .gnb ul li:hover,
header .gnb ul li.active {
  color: white;
}

@media (max-width: 1024px) {
  header .logo {
    font-size: 36px;
    margin-top: 10px;
  }

  header .logo-content {
    font-size: 20px;
  }

  header .login a {
    font-size: 20px;
  }
}

@media (max-width: 768px) {

  header .logo {
    font-size: 36px;
  }

  header .logo-content {
    display: none;
  }

  header .login {
    display: none;
  }

  header .menu-open {
    display: block;
  }

}




/*  main page style */



/* 로그인시 상단 공지바 */
section.main-page1 .main-content {
  width: 100%;
  height: 100%;
  font-size: 60px;
  text-align: center;
  background-image: url(../img/tree5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 200px;
  padding-top: 100px;
}


section.main-page1 .animated-title {
  color: #fefefe;
  font-size: 40px;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 300;
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 90px;
}

section.main-page1 .animated-title .track {

  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 60s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@media (hover: hover) and (min-width: 700px) {

  section.main-page1 .animated-title .content {

    background: #fac562;
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
  }

}



/* best-camping */


section.main-page1 .main-content h1 {
  background: linear-gradient(to right top, #fdf01f, #ff2a16);
  color: transparent;
  -webkit-background-clip: text;

  margin-top: 100px;

}




section.main-page1 .main-img {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;

  align-items: center;
  justify-content: center;



}

.main-content .best-camping {
  position: relative;
  width: 100%;
  margin-top: 80px;
}

.main-content .best-camping p {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 70px;
  margin: 0 auto;
  background: #fac56252;
  width: 500px;
  height: 300px;
  color: #ffffff;
  border-radius: 20px;
  border-style: groove;
  border-color: yellow;
  text-align: center;
  align-content: center;
  padding-top: 25px;
  text-shadow: 0 0 10px yellow;
  animation: neon-flicker 1s infinite alternate;


  position: absolute;
  top: 30%;
  left: 39%;
  opacity: 0;
  transform: scale(0.5);
}

.main-content .best-camping:hover p {
  transform: scale(1.2);
  transition: 0.5s;
  opacity: 1;
}



section.main-page1 .main-img .main-img1 {
  width: 50%;
  height: 680px;
  margin-top: 10px;
  margin-right: 50px;
  background: #fac562;
  border-radius: 20px;
  padding: 21px;
}

section.main-page1 .main-img .main-img1 img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

section.main-page1 .main-img .main-img2 {
  width: 45%;
  height: 680px;
  background: #fac562;
  border-radius: 20px;
  padding: 21px;
  margin-top: 7px;
}

section.main-page1 .main-img .main-img2 img {
  width: 100%;
  height: 310px;
  border-radius: 20px;
  margin-bottom: 10px;
}



/* 캠핑 리스트 */

section.main-page0 {
  height: 130vh;
  background: #e4ffaa8c;
  text-align: center;
  padding: 150px 0 200px;
}

section.main-page0:before {
  content: "tourist attractions";
  font-family: "Luckiest Guy", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  background: linear-gradient(to right top, #fdf01f, #ff2a16);
  color: transparent;
  -webkit-background-clip: text;
  display: block;
  margin-bottom: 150px;

}

section.main-page0 div {
  width: 80%;
  max-width: 250px;
  height: 70%;
  /* background: red; */
  background-size: auto 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0 1.2rem;
  filter: grayscale(1) opacity(0.1) contrast(200%);
  transition: 0.5s;
  transform: skewY(-10deg);
  z-index: -1;

  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;

}

section.main-page0 .highlight {
  filter: grayscale(0) opacity(1);
  transform: scale(1.1);
  box-shadow: 0 25px 50px black;
  z-index: 100;
}

/* @media (orientation: portrait) {
    

    section.main-page0 div {
      width: 75vw;
      max-width: 75vw;
      height: 20vh;
      display: block;
      margin: 1rem 0;
      background-size: 100% auto;
      background-position: 50% 0%;
      transform: skewX(-10deg);
    }
    section.main-page0 div:nth-child(1) {
      background-position: 50% 10%;
    }
    section.main-page0 div:nth-child(3) {
      background-position: 50% 20%;
    }
    section.main-page0 div:nth-child(4) {
      background-position: 50% 10%;
    }
  } */



section.main-page0 div:nth-child(2) {
  background-color: red;
  background-image: url("../img/camp6.jpg");
}

section.main-page0 div:nth-child(3) {
  background-color: purple;
  background-image: url("../img/camp7.jpg");
}

section.main-page0 div:nth-child(4) {
  background-color: darkorange;
  background-image: url("../img/camp8.jpg");
}

section.main-page0 div:nth-child(5) {
  background-color: darkorange;
  background-image: url("../img/camp10.jpg");
}

section.main-page0 div:nth-child(2):after,
section.main-page0 div:nth-child(3):after,
section.main-page0 div:nth-child(4):after,
section.main-page0 div:nth-child(5):after {
  content: "NAME";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  color: white;
  text-shadow: 3px 3px #555;
}

section.main-page0 div:nth-child(2):after {
  content: "호명호수";
}

section.main-page0 div:nth-child(3):after {
  content: "쁘띠프랑스";
}

section.main-page0 div:nth-child(4):after {
  content: "남이섬";
}

section.main-page0 div:nth-child(5):after {
  content: "아침고요수목원";
}







/* page2 */


section.main-page2 .main-content {
  width: 100%;
  background: #E4FFAA;
  /* margin-top: 200px; */
  display: flex;


  padding-top: 160px;
  padding-bottom: 160px;
}


/* 날씨 */

section.main-page2 .main-content .weather {
  margin: 0 100px;
  top: 60px;
  left: 18.5px;
}


section.main-page2 .main-content .tomorrow {
  width: 500px;
  height: 600px;
  margin-top: 50px;
}







/* 최신 리뷰 */

section.main-page2 .main-content h1 {
  color: #a1a1a1;
  text-align: center;
  font-size: 40px;
}


section.main-page2 .main-content .best-review .review-box {
  width: 500px;
  height: 700px;
  background: #fff;
  color: black;
  margin-top: 50px;
  border-radius: 3%;

  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;


  position: relative;
}

section.main-page2 .main-content .best-review .review-box .review-title {
  display: flex;
  color: black;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 12px;
}

section.main-page2 .main-content .best-review .review-box .camp-name {
  width: 48%;
  margin: 25px;
  font-size: 30px;
}

section.main-page2 .main-content .best-review .review-box img {
  width: 465px;
  height: 340px;

  position: relative;
  top: 18px;
  left: 18px;
}



section.main-page2 .main-content .best-review .review-box .review-content {
  width: 465px;
  height: 230px;
  font-size: 36px;
  margin: 0px auto;

  border-radius: 10px;
  background: #dfdfdf6b;
  padding: 10px;
  white-space: pre-line;
  overflow-y: auto;
  overflow-x: hidden;
}



/* 별점 보기*/


.star-rating {
  display: flex;
  width: 38%;
  flex-direction: row-reverse;
  font-size: 2.25rem;
  text-align: center;
  line-height: 2.5rem;
  justify-content: flex-end;
  align-items: center;
  padding-left: 18px;

  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}

.star-rating input {
  display: none;
}

.star-rating label {
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
}

.star-rating :checked~label {
  -webkit-text-fill-color: gold;
}

/* .star-rating label:hover,
  .star-rating label:hover~label {
    -webkit-text-fill-color: #fff58c;
  } */





/* 광고 */



section.main-page2 .main-content .ad {
  /* background: red; */
  width: 450px;

  height: 700px;
}


section.main-page2 .main-content .ad .ad-box {
  margin: 0 0 0 150px;
  width: 100%;
}

section.main-page2 .main-content .ad .ad-box h1 {
  color: #a1a1a1;
  text-align: center;
  font-size: 40px;
}



section.main-page2 .main-content .ad .ad-box img {
  width: 100%;
  height: 200px;
  margin-top: 50px;


  border-radius: 20px;
  cursor: pointer;

}

section.main-page2 .main-content .ad .ad-box img:hover {
  opacity: 0.5;
}



/*footer style*/

#total-footer-wrap {
  margin-top: 1000px;
  width: 133%;
  position: relative;
  left: -20%;

}

footer {
  background: #4BDB73;
  padding: 20px 0;
  position: relative;
  width: 100%;
  height: 150px;
  bottom: 0;
  z-index: 49;
}

footer .footer-wrap {
  display: flex;
  justify-content: center;
}

footer .footer-wrap .footer-content {
  color: black;
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  position: absolute;
  margin: auto 0;
}

footer .footer-wrap .footer-link span:hover {
  color: #FF0080;
  cursor: pointer;
}

footer .footer-wrap .footer-copyright {
  font-family: sans-serif;
  font-size: 0.6em;
}

footer .footer-wrap .footer-content p {
  text-align: center;

}

footer .footer-logo {
  font-size: 30px;
  position: absolute;
  right: 100px;
  margin-top: 80px;
}

footer .footer-logo a {
  color: white;
}

/* 맨위로가기 */
.moveTopBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  background: #ffe70b;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;

}

.moveTopBtn .topBtn {
  text-align: center;
  font-size: 22px;
  padding: 5px;
}


footer .modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

footer .modal-content {
  color: black;
  font-family: '맑은 고딕';
  line-height: 1.2em;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

footer .modal-content p {
  width: 97%;
}

footer .modal-close {
  color: #aaa;
  float: right;
  font-size: 42px;
  font-weight: bold;
}

footer .modal-close:hover,
footer .modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 1024px) {

  footer .footer-logo {
    right: 50px;
  }

}

@media (max-width: 768px) {

  footer .footer-logo {
    right: 25px;
  }

  footer .footer-logo span {
    display: none;
  }

  .moveTopBtn {
    display: none;
  }
}

/* footer .go-top {
    display: none;
  } */