body {
  background-image: url(../img/notice1.jpg);
  background-size: cover;
  background-position: center;
}


section {
  margin-bottom: 110px;
}

section .title h1 {
  background: linear-gradient(to right top, #E4FFAA, #4BDB73);
  color: transparent;
  -webkit-background-clip: text;
  margin-top: 260px;
  font-size: 80px;
  text-align: center;
}

section .title h1 span {
  color: black;
  background: linear-gradient(to right top, #E4FFAA, #4BDB73);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 80px;
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
}



section .notice-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 250px;

}



section .notice-list .notice-box {
  width: 1000px;
  background: #E4FFAA;
  margin-top: 50px;
  border-radius: 3%;
  height: 700px;
  position: relative;
  margin-bottom: 40px;
}

section .notice-list .notice-box table {
  width: 900px;
  margin-left: 5%;
  margin-top: 10%;
  background: #fff;

}

table {
  position: relative;
  top: -60px;
}

table .notice-box .no-click tr{
  background: red;
}

section .notice-list tr {
  color: black;
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  border: 2px solid black;

  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

section .notice-list tr:hover {
  background-color: lightgray;
  /* 호버 시 배경색 변경 */
  cursor: pointer;
  /* 호버 시 커서 모양 변경 */
}

section .notice-list tr.column {
  pointer-events: none;
}

section .notice-click .noticeCategory {
  width: 10%;
}

section .notice-click .NoticeNo {
  width: 10%;
}

section .notice-click .NoticeTitle {
  width: 50%;
}

section .notice-click .NoticeDate {
  width: 20%;

}

section .notice-click .NoticeCount {
  width: 10%;
}

/* section .notice-list tr th {
  margin-right: 15px;
  margin-left: -10px;    
  width: 100px;
  font-size: 30px;
  border: 1px solid red;
} */

section .notice-box .notice-list tr .noticeCategory {
  margin-right: 5px;
  margin-left: 5px;
  width: 60px;

}

section .notice-box .notice-list tr .NoticeNo {
  margin-right: 5px;
  margin-left: 5px;
  width: 60px;

}

section .notice-box .notice-list tr .NoticeTitle {
  margin-right: 5px;
  margin-left: -15px;
  width: 60px;

}


/* 전체기간 조회 */
/* .total-date-wrapper {
  position: relative;
} */

.total-date-background {
  width: 159px;
  height: 43px;
  /* position: absolute; */
  left: 220px;
  top: 50px;
  background: white;
  border: 1px black solid;
  position: relative;
}

.total-date-click-button {
  width: 26px;
  height: 18px;
  /* position: absolute; */
  right: 30px;
  top: 10px;
  background: #5F5555;
  border: 1px black solid;
  cursor: pointer;
  line-height: 43px;

}

.total-date {
  width: 80px;
  height: 43px;
  /* position: absolute; */
  left: 10px;
  top: 10px;
  color: black;
  font-size: 24px;
  font-family: Yeon Sung;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 43px;

}

/* 제목 조회 */
/* .title-wrapper {
  position: relative;
} */

.only-title-background {
  width: 159px;
  height: 43px;
  /* position: absolute; */
  left: -855px;
  top: 806px;
  background: white;
  border: 1px black solid;
  position: relative;
  line-height: 43px;


}

.only-title-click-button {
  width: 26px;
  height: 18px;
  /* position: absolute; */
  left: 30px;
  top: 10px;
  background: #5F5555;
  border: 1px black solid;
  cursor: pointer;
  line-height: 43px;
}

.only-title {
  width: 64px;
  height: 43px;
  /* position: absolute; */

  top: 30px;
  color: black;
  font-size: 24px;
  font-family: Yeon Sung;
  font-weight: 400;
  word-wrap: break-word;

}



/* 검색어 조회 */
/* .search-wrapper {
  /* position: relative; */


.search-content-background {
  width: 320px;
  height: 41px;
  /* position: absolute; */
  left: 445px;
  top: -45px;
  background: white;
  border: 1px black solid;
  position: relative;
}

.search-content {
  width: 250px;
  height: 35px;
  /* position: absolute; */
  left: 700px;
  top: 23px;
  border: none;
  outline: none;
  color: black;
  font-size: 24px;
  font-family: Yeon Sung;
  font-weight: 400;
  word-wrap: break-word;

}

.search-click-button {
  width: 63px;
  height: 35px;
  /* position: absolute; */
  left: 910px;
  top: 28px;
  font-family: Yeon Sung;
  font-size: 20px;
  background: #9CEE8F;
  border: 1px black solid;
  cursor: pointer;

}

.form-select {
  width: 100px;
  height: 41px;
  font-size: 20px;
  font-family: Yeon Sung;
  font-weight: 400;
  position: absolute;
  left: -100px;
  top: -1px;
}

/* 페이지 사이즈 체크 */
.page-size-wrapper {
  position: relative;
}

.page-size-background {
  width: 140px;
  height: 35px;
  background: lightgray;
  border: 1px black solid;
  position: relative;
}

.search-content {
  width: 250px;
  height: 35px;
  /* position: absolute; */
  left: 700px;
  top: 23px;
  border: none;
  outline: none;
  color: black;
  font-size: 24px;
  font-family: Yeon Sung;
  font-weight: 400;
  word-wrap: break-word;

}

.search-click-button {
  width: 63px;
  height: 35px;
  /* position: absolute; */
  left: 910px;
  top: 28px;
  font-family: Yeon Sung;
  font-size: 20px;
  background: #9CEE8F;
  border: 1px black solid;
  cursor: pointer;

}

.form-select {
  width: 100px;
  height: 41px;
  font-size: 20px;
  font-family: Yeon Sung;
  font-weight: 400;
  position: absolute;
  left: -100px;
  top: -1px;
}




/* 페이지 버튼 */

.bottom-section {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.bottom-section nav {
  /* flex: 1;
  justify-content: center;
  top: 10px;
   */
}

.pagination-custom {
  width: 60px;
}

.pagination-custom li {
  background: linear-gradient(to right top, #E4FFAA, #4BDB73);
  color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
  margin: 0 10px;
  padding: 20px;
  

}

.pagination-custom a {
  display: block;
 
  color: #4BDB73;
  -webkit-background-clip: text;
  /* 숫자와 화살표의 글자 색상 설정 */
  /* text-decoration: none; */
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
  text-align: center;
  /* padding-left: 15px; */
  padding-top: 9px; 
}

.pagination-custom li.active a,
.pagination-custom li:hover a {
  background: #ffffff;
  color: #4BDB73 !important;
  border-radius: 30px;
  
}

/* 페이지 버튼 영역 */


nav {
  margin-bottom: 300px;
}

.pagination-custom {
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  bottom: 30px;
}

.pagination .page-item {
  width: 30px;
  margin-bottom: 10px;
  position: relative;
  top: 20px;
  font-size: 35px;
  right: 5px;
}

/* 등록버튼 */
.add-btn {
  color: #45cf6f;
  font-weight: bold;
  left: 170px;
  position: relative;
  bottom: -50px;
  border: 3px solid black;
  top: 40px;
  padding: 5px;
  font-size: 30px;
  border-radius: 10px;
  background: #fff;
}

.add-btn:hover {
  /* 등록 링크에 마우스를 올렸을 때의 스타일 */
  color: red;
  /* 텍스트 색상을 빨간색으로 변경 */
  /* 기타 원하는 스타일 지정 */
}


/* 카테고리 버튼 */
.category-button-box {
  position: relative;
  bottom: 10px;
  left: 50px;
}

.category-button-box .category-button {
  font-family: Yeon Sung;
  font-size: 20px;
  width: 60px;
  height: 30px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px black solid;
  background: #9CEE8F;
}

.category-button-box .category-button a {
  display: block;
  position: relative;
  right: 8px;
  bottom: 2px;
  width: 60px;
  height: 30px;
  text-align: center;
}