





section#reservation-detail{
    color: black;
    font-family: "Yeon Sung", system-ui;
    font-weight: 400;
    font-style: normal;
}

section .detail {
    margin: 0 100px;
}




section .detail .detail-title {
    margin-top: 160px;
    text-align: center;
    font-size: 40px;
    
}

section .detail .detail-content1 {
    display: flex;
    margin: 40px 0;
   
}

section .detail .detail-content1 img {
    width: 800px;
    height: 500px;
    border-radius: 20px;
}

section .detail .detail-content1 .basic-info li {
    margin-top: 25px;
    margin-left: 50px;
    font-size: 25px;
    /* background: red; */
    width: 800px;
    height: 100px;
    align-content: center;
}

section .detail .detail-content1 .basic-info li:first-child {
    text-align: center;
    font-size: 40px;
    background: #E4FFAA;
    border-radius: 20px;
}

section .detail h1 {
    margin: 50px auto;
    text-align: center;
    font-size: 40px;
    background: #E4FFAA;
    width: 800px;
    height: 100px;
    align-content: center;
    border-radius: 20px;
}


section .detail .detail-content2 .use-info {
    display: flex;
    /* background: orange; */
    width: 100%;
    font-size: 25px;
    justify-content: space-around;
    margin: 50px 0;
    
}





section .detail .reserve-info form {
    background: #E4FFAA;
    height: 300px;    
    border-radius: 20px;
    text-align: center;
    margin-bottom: 40px;
}

section .detail .reserve-info form .reserve-box {
/* 
    background: orange; */
    display: flex;
    justify-content: center;
}

section .detail .reserve-info form .reserve-box .check {
    display: flex;
    margin: 50px 15px 0 15px;
    font-size: 25px;
    
    
}


section .detail .reserve-info form .reserve-box .check .in {
    margin-right: 20px;
    width: 100px;
    background: #4BDB73;
    align-content: center;
    border-radius: 20px;
}

section .detail .reserve-info form .reserve-box .check .out {
    margin-right: 20px;
    width: 100px;
    background: #4BDB73;
    align-content: center;
    border-radius: 20px;
}



section .detail .reserve-info form .reserve-box .check .reg-date {
    width: 200px;
    height: 50px;
    background: #fff;
    align-content: center;
    border-radius: 20px;
}

section .detail .reserve-info form .reserve-box .check .reg-dates {
    width: 220px;
    height: 50px;
    background: #fff;
    align-content: center;
    border-radius: 20px;
}


section .detail .reserve-info form .reserve-box .check .between {
    align-content: center;
}


section .detail .reserve-info form button {
    width: 200px;
    height: 50px;
    background: #4BDB73;
    align-content: center;
    border-radius: 20px;
    border: #fff;
    font-family: "Yeon Sung", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-top: 100px;
} 

section .detail .reserve-info form button:hover {
    color: #fff;
    cursor: pointer;
}



/* 달력 */


.calendar-container {
    width: 70%;
    padding: 25px;
    font-size: 20px;
    margin: 80px auto 40px auto;
  }
   
  
  .calendar-container .calendar-header {
    display: flex;
    /* background-color: orange; */
    align-items: center;
    margin-bottom: 60px;
    justify-content: center;
  }

  .calendar-container .calendar-header .btn {
    margin: 0 20px;
    width: 38px;
    height: 38px;
    font-size: 30px;
    background: #fff;
    color: black;
    border: #fff;
    cursor: pointer;
  }

  .calendar-container .calendar-header .btn:hover {
    color: #d6d4d4;
  }

  
  #currentMonth {
    width: 400px;
    font-size: 36px;
    text-align: center;
  }

 
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  
  .day {
    font-size: 26px;
    padding: 5px;
    text-align: center;
  }
  
  .calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }

  .calendar-dates {
    margin: 10px auto;
    font-size: 25px;
  }

  .prev-date{
    cursor: pointer;
    padding: 5px;
    text-align: center;
    color: #aaa8a8;
  }

  #calendarDates .prev-date:hover {
    background: #dbdada;
  }


  .date {
    cursor: pointer;
    width: 70px;
    height: 70px;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
    align-content: center;
    
    position: relative;
  }
  
  .date:hover {
    background-color: #54f381;
    border-radius: 10px;
    color: #fff;
    text-decoration: underline;
  }
 
  .active::before {
    position: absolute;
    content: '';
    height: 70px;
    width: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: -1;
    background: #54f381;
  }



 /* .calendar-dates::before {
    position: absolute;
    content: '';
    height: 50px;
    width: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: -1;
    
  } */

 

 