section .title h1 {
    background: linear-gradient(to right top, #E4FFAA, #34da63);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 150px;
    font-size: 40px;
    text-align: center;
}

section .title h1 span {
    background: linear-gradient(to right top, #E4FFAA, #34da63);
    color: transparent;
    -webkit-background-clip: text;
    font-family: "Dongle", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section .camp-list {
    display: flex;
    justify-content: space-around;
}

section .camp-list .camp-box {
    width: 1500px;
    height: 530px;
    background: #E4FFAA;
    margin-top: 50px;
    border-radius: 3%;
    position: relative;
    margin-bottom: 100px;
}

section .camp-list .camp-box table {
    width: 1400px;
    margin: 50px auto;
    background: #F0EEEE;
}

section .camp-list tr {
    color: black;
    font-family: "Yeon Sung", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    border: 2px solid black;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

section .camp-list .camp-box td.phoneNumber {
    font-size: 20px;
}

section .camp-list thead .column {
    pointer-events: none;
    background: #dddcdc;
}

/* section .camp-list tr:hover {
    background-color: lightgray;
    cursor: pointer;
} */

section .camp-list tr th {
    margin-right: 15px;
    margin-left: -10px;
    width: 100px;
    font-size: 30px;
}

.total-date-wrapper {
    position: relative;
}

.total-date-background {
    width: 159px;
    height: 43px;
    position: absolute;
    left: 220px;
    top: 20px;
    background: white;
    border: 1px black solid;
}

.total-date-click-button {
    width: 26px;
    height: 18px;
    position: absolute;
    left: 330px;
    top: 30px;
    background: #5F5555;
    border: 1px black solid;
    cursor: pointer;
}

.total-date {
    width: 80px;
    height: 43px;
    position: absolute;
    left: 250px;
    top: 30px;
    color: black;
    font-size: 24px;
    font-family: Yeon Sung;
    font-weight: 400;
    word-wrap: break-word;
}


/* 제목 조회 */
.title-wrapper {
    position: relative;
}

.only-title-background {
    width: 159px;
    height: 43px;
    position: absolute;
    left: 450px;
    top: 20px;
    background: white;
    border: 1px black solid;
}

.only-title-click-button {
    width: 26px;
    height: 18px;
    position: absolute;
    left: 560px;
    top: 30px;
    background: #5F5555;
    border: 1px black solid;
    cursor: pointer;
}

.only-title {
    width: 64px;
    height: 43px;
    position: absolute;
    left: 480px;
    top: 30px;
    color: black;
    font-size: 24px;
    font-family: Yeon Sung;
    font-weight: 400;
    word-wrap: break-word;
}








/* 검색어 조회 */
/* .search-wrapper {
   position: relative;  */


/* .search-content-background {
    width: 320px;
    height: 41px;
 position: absolute; 
    left: 550px;
    top: 50px;
    background: white;
    border: 1px black solid;
    position: relative;
} 

.search-content {
    width: 250px;
    height: 35px;
    position: absolute; 
    left: 19px;
    top: 3px;
    border: none;
    outline: none;
    color: black;
    font-size: 24px;
    font-family: Yeon Sung;
    font-weight: 400;
    word-wrap: break-word;

}

.search-click-button {
    width: 63px;
    height: 35px;
     position: absolute; 
    left: 250px;
    top: 2px;
    font-family: Yeon Sung;
    font-size: 20px;
    background: #9CEE8F;
    border: 1px black solid;
    cursor: pointer;

}
/* 
.form-select {
    width: 120px;
    height: 41px;
    font-size: 20px;
    font-family: Yeon Sung;
    font-weight: 400;
    position: absolute;
    left: -120px;
    top: -1px;
} */



/* 페이지 영역*/


/* 페이지 스타일 */
/* pagination style */

section .bottom-section .pageBox {
    width: 100%;
    height: 150px;
    /* background: violet; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    bottom: -45px;

}


section .pageBox ul {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

section .pageBox ul li {
    display: inline-block;

}

section .pageBox ul li a:hover {
    background: #efefef;
    color: #4BDB73;
    border-radius: 20px;
}

section .pageBox ul li.active a {
    background: #efefef;
    color: #4BDB73;
    border-radius: 20px;
    border: solid;
    border-color: #55555521;
}


section .pageBox ul li a {
    display: block;
    padding: 10px 15px;
    font-size: 25px;
    background: linear-gradient(to right top, #E4FFAA, #4BDB73);
    color: transparent;
    -webkit-background-clip: text;

    text-decoration: none;
    z-index: 1;

}

section .pageBox ul .prev a,
section .pageBox ul .next a {
    font-size: 20px;
}