section#reservation {
  background-image: url(../img/reservation3.jpg);
  background-repeat: no-repeat;
  background-size: cover;


}





section#reservation .title h1 {
  background: linear-gradient(to right top, #E4FFAA, #34da63);
  color: transparent;
  -webkit-background-clip: text;
  padding-top: 180px;
  font-size: 60px;
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  width: 40%;
  margin: 0 auto;
}

section#reservation .title h1 span {

  background: linear-gradient(to right top, #E4FFAA, #4BDB73);
  color: transparent;
  -webkit-background-clip: text;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
}



section#reservation .camping {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

section#reservation .camping .camping-list {
  width: 33%;

}


section#reservation .camping-list .camping-box {
  width: 500px;
  height: 700px;
  background: #E4FFAA;
  margin: 30px auto 50px;
  border-radius: 3%;

  position: relative;
}

section#reservation .camping-list .camping-box .img-box {
  width: 465px;
  height: 465px;
  border-radius: 3%;
  overflow: hidden;


  position: absolute;
  top: 18.5px;
  left: 18.5px;
}

section#reservation .camping-list .camping-box img {
  width: 100%;
  height: 100%;

  background-size: cover;
  border-radius: 3%;
  transition: all 0.2s linear;
  transform: scale(1.0);


}

section#reservation .camping-list .camping-box img:hover {
  transform: scale(1.3);

}




section#reservation .camping-list .camping-box .camping {
  color: black;
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
  width: 465px;


}

section#reservation .camping-list .camping-box .camping li:first-child {
  font-size: 30px;
  text-decoration: underline;
  position: absolute;

  left: 18.5px;
  left: 18.5px;
  bottom: 140px;

}

section#reservation .camping-list .camping-box .camping li:nth-child(2) {
  font-size: 20px;
  position: absolute;

  left: 18.5px;
  right: 18.5px;
  bottom: 70px;
}

section#reservation .camping-list .camping-box .camping li:nth-child(3) {
  font-size: 20px;
  position: absolute;

  left: 18.5px;
  right: 18.5px;
  bottom: 50px;
}

section#reservation .camping-list .camping-box .camping li:nth-child(4) {
  font-size: 20px;
  position: absolute;

  left: 18.5px;
  right: 18.5px;
  bottom: 30px;
}



section#reservation .camping-list .camping-box .camping li:last-child {
  font-size: 50px;
  position: absolute;

  bottom: 120px;
  right: 30px;
}


section#reservation .camping-list .reserve-more {
  width: 200px;
  height: 100px;
  background: #f0f0f0;
  color: #fff;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;

  position: relative;


}




/* more 버튼 */

.btn-group {
  width: 50%;
  height: 20%;
  position: relative;
  /* background: red; */
  left: 46%;
  top: 75%;
}



section#reservation .camping-list button.more-button {
  width: 100px;
  height: 50px;
  background: #4BDB73;
  border-color: #4BDB73;
  border-radius: 10%;
  font-size: 25px;
  color: #fff;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;

  position: relative;
  top: 64%;
  left: 60%;
}




section#reservation .camping-list button.more-button:hover {

  color: black;
}

/* 검색어 조회 */


section#reservation .search-content-background {
  margin: 80px 70px 0;
  text-align: right;

}

/* select */
section#reservation .search-content-background #search-type {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 29px;
  width: 130px;
  border-radius: 10px;
  text-align: center;
  border: solid 2px;
  background: linear-gradient(to right top, #caf965, #ffffff);
}


/* input */
section#reservation .search-content-background input[type="text"] {
  width: 400px;
  height: 50px;
  font-size: 18px;
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 20px;
  font-size: 30px;
  border-style: solid;
  margin: 0 10px 0;
}

/* button */
section#reservation .search-content-background .search-click-button {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  width: 70px;
  border: solid 2px;
  border-radius: 10px;
  background: linear-gradient(to right top, #caf965, #ffffff);
}





/* 페이지 영역*/


/* 페이지 스타일 */
/* pagination style */

section#reservation .pageBox {
  width: 100%;
  height: 150px;
  /* background: violet; */
  display: flex;
  justify-content: center;
  margin-top: 50px;

}


section#reservation .pageBox ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

section#reservation .pageBox ul li {
  display: inline-block;
 
}

section#reservation .pageBox ul li a:hover {
  background: #efefef;
  color: #4BDB73;
  border-radius: 20px;
}

section#reservation .pageBox ul li.active a {
  background: #efefef;
  color: #4BDB73;
  border-radius: 20px;
  border: solid;
  border-color: #55555521;
}


section#reservation .pageBox ul li a {
  display: block;
  padding: 10px 15px;
  font-size: 25px;
  background: linear-gradient(to right top, #E4FFAA, #4BDB73);
  color: transparent;
  -webkit-background-clip: text;

  text-decoration: none;
  z-index: 1;

}

section#reservation .pageBox ul .prev a,
section#reservation .pageBox ul .next a {
  font-size: 20px;
}

