@import url(../css/main.css);

body {

  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  /* 배경색 */
}

.review-wrapper {
  /* background: red; */
  width: 80%;
  margin: 200px;
  padding-left: 350px;
}

form {
  max-width: 700px;
  /* 원하는 폭으로 조절 */
  height: 900px;
  padding: 20px;
  background-color: #4BDB73;
  border-radius: 8px;
  /* 테두리 둥글게 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* 그림자 효과 */
  text-align: right;
  /* 오른쪽 정렬 */
  margin: 0 auto;
}

#reviewForm h1 {
  text-align: center;
  font-size: 60px;
  color: black;
  /* 텍스트 색상 */
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;

}

#reviewForm h1 span {
  font-family: "Yeon Sung", system-ui;
  font-weight: bold;
  font-style: normal;

}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 2.5rem;
  justify-content: flex-end;
  padding: 0 0.2em;
  text-align: center;
  width: 5em;
}

.star-rating input {
  display: none;
}

.star-rating label {
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #2b2a29;
  cursor: pointer;
}

.star-rating :checked~label {
  -webkit-text-fill-color: gold;
}

.star-rating label:hover,
.star-rating label:hover~label {
  -webkit-text-fill-color: #fff58c;
}


.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  /* 요소 간격 */
  margin-left: 20px;
  margin-top: 30px;
}

.thumbnail-box img {
  width: 450px;
  height: 290px;
  object-fit: cover;
  /* 이미지를 박스에 맞추기 */
  border-radius: 4px;
  /* 테두리 둥글게 */
  display: block;
}

#review-image {
  display: block;
  margin-top: 320px;
}

.review-image {
  margin-top: 260px
}

.two-Btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-right: 20px;
}



.list-button {
  --text: #C3C8DE;
  --plane: #4BDB73;
  --background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  padding: 0;
  width: 140px;
  height: 60px;
  background: none;
  color: var(--text);
  cursor: pointer;
  outline: none;
  margin-top: 25px;
  border-radius: 20%;
}

.list-button svg.btn-layer {
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  pointer-events: none;
  fill: var(--background);
}

.list-button svg.plane {
  z-index: 3;
  position: absolute;
  left: 32px;
  display: block;
  width: 26px;
  height: 28px;
  fill: var(--plane);
  transform: translate3d(0, 0, 0);
  perspective: 500px;
}

.list-button>ul {
  list-style: none;
  padding: 0 5px 0 0;
  position: relative;
  overflow: hidden;
}

.list-button>ul>li {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding-left: 40px;
  font: 400 16px "Varela Round", sans-serif;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
}

.list-button>ul>li:first-child {
  opacity: 1;
}

.list-button>ul>li:last-child {
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
}

.list-button.active svg.plane {
  -webkit-animation: 1.5s orbit alternate linear;
  animation: 1.5s orbit alternate linear;
}

.list-button.active>ul>li {
  transform: translateY(-100%);
  transition: transform 0.3s ease 1.2s, opacity 0.3s ease 1.2s;
}

.list-button.active>ul>li:first-child {
  opacity: 0;
}

.list-button.active>ul>li:last-child {
  opacity: 1;
}

@-webkit-keyframes orbit {
  0% {
    transform: rotate3d(1, 0, 0, 0deg) translateZ(60px) scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  10% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, -10deg) translateZ(60px) scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  20% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, 30deg) translateZ(60px) scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  30% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, 35deg) translateZ(60px) scale3d(1, 1, 1);
  }

  40% {
    z-index: 1;
    transform: rotate3d(1, 0.6, 0, 120deg) translateZ(60px) scale3d(0.7, 0.7, 1);
  }

  70% {
    z-index: 1;
    transform: rotate3d(1, 0.6, 0, 240deg) translateZ(60px) scale3d(0.7, 0.7, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    z-index: 3;
    transform: rotate3d(1, 0, 0, 360deg) translateZ(60px) scale3d(1, 1, 1);
  }
}

@keyframes orbit {
  0% {
    transform: rotate3d(1, 0, 0, 0deg) translateZ(60px) scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  10% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, -10deg) translateZ(60px) scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  20% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, 30deg) translateZ(60px) scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  30% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, 35deg) translateZ(60px) scale3d(1, 1, 1);
  }

  40% {
    z-index: 1;
    transform: rotate3d(1, 0.6, 0, 120deg) translateZ(60px) scale3d(0.7, 0.7, 1);
  }

  70% {
    z-index: 1;
    transform: rotate3d(1, 0.6, 0, 240deg) translateZ(60px) scale3d(0.7, 0.7, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    z-index: 3;
    transform: rotate3d(1, 0, 0, 360deg) translateZ(60px) scale3d(1, 1, 1);
  }
}

.write-button {
  --text: #C3C8DE;
  --plane: #4BDB73;
  --background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 0;
  padding: 0;
  width: 140px;
  height: 60px;
  background: none;
  color: var(--text);
  cursor: pointer;
  outline: none;
  margin-top: 25px;
  border-radius: 20%;
  margin-left: 30px;


}

.write-button svg.btn-layer {
  display: block;
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 2;
  pointer-events: none;
  fill: var(--background);
}

.write-button svg.plane {
  z-index: 3;
  position: absolute;
  left: 32px;
  display: block;
  width: 26px;
  height: 28px;
  fill: var(--plane);
  transform: translate3d(0, 0, 0);
  perspective: 500px;
}

.write-button>ul {
  list-style: none;
  padding: 0 5px 0 0;
  position: relative;
  overflow: hidden;
}

.write-button>ul>li {
  display: inline-block;
  position: relative;
  z-index: 2;
  padding-left: 40px;
  font: 400 16px "Varela Round", sans-serif;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
}

.write-button>ul>li:first-child {
  opacity: 1;
}

.write-button>ul>li:last-child {
  position: absolute;
  left: 0;
  top: 100%;
  opacity: 0;
}

.write-button.active svg.plane {
  -webkit-animation: 1.5s orbit alternate linear;
  animation: 1.5s orbit alternate linear;
}

.write-button.active>ul>li {
  transform: translateY(-100%);
  transition: transform 0.3s ease 1.2s, opacity 0.3s ease 1.2s;
}

.write-button.active>ul>li:first-child {
  opacity: 0;
}

.write-button.active>ul>li:last-child {
  opacity: 1;
}

@-webkit-keyframes orbit {
  0% {
    transform: rotate3d(1, 0, 0, 0deg) translateZ(60px) scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  10% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, -10deg) translateZ(60px) scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  20% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, 30deg) translateZ(60px) scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  30% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, 35deg) translateZ(60px) scale3d(1, 1, 1);
  }

  40% {
    z-index: 1;
    transform: rotate3d(1, 0.6, 0, 120deg) translateZ(60px) scale3d(0.7, 0.7, 1);
  }

  70% {
    z-index: 1;
    transform: rotate3d(1, 0.6, 0, 240deg) translateZ(60px) scale3d(0.7, 0.7, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    z-index: 3;
    transform: rotate3d(1, 0, 0, 360deg) translateZ(60px) scale3d(1, 1, 1);
  }
}

@keyframes orbit {
  0% {
    transform: rotate3d(1, 0, 0, 0deg) translateZ(60px) scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  10% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, -10deg) translateZ(60px) scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  20% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, 30deg) translateZ(60px) scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  30% {
    z-index: 3;
    transform: rotate3d(1, 0.6, 0, 35deg) translateZ(60px) scale3d(1, 1, 1);
  }

  40% {
    z-index: 1;
    transform: rotate3d(1, 0.6, 0, 120deg) translateZ(60px) scale3d(0.7, 0.7, 1);
  }

  70% {
    z-index: 1;
    transform: rotate3d(1, 0.6, 0, 240deg) translateZ(60px) scale3d(0.7, 0.7, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    z-index: 3;
    transform: rotate3d(1, 0, 0, 360deg) translateZ(60px) scale3d(1, 1, 1);
  }
}




#review-content {
  width: 100%;
  height: 327px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  /* 수직으로만 크기 조정 가능 */
  text-align: left;
  display: block;
  /* 입력란을 블록 요소로 설정하여 줄바꿈이 발생하도록 함 */
  box-sizing: border-box;
  /* 폭과 높이에 패딩과 테두리를 포함하도록 설정 */
}

#review-title {
  width: 100%;
  height: 70px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.dribbble {
  display: none;
}

.twitter {
  display: none;
}

textarea {
  font-size: 28px;
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
  padding-left: 20px;

}

textarea#review-content {

  resize: vertical;
  white-space: pre-wrap;
  /* 텍스트 내용이 줄바꿈을 유지하도록 합니다. */
  overflow-wrap: break-word;

}