@import url(./main.css);

section.signup-list {
  width: 100vh;
  height: 100vh;
  color: black;

  margin: 160px auto 0 auto;
  
}


section.signup-list .signup-box{
width: 100%;
height: 100%;
}

section.signup-list .signup-box h1 {
  /* background: red; */
  text-align: center;
  margin: 30px auto;
  font-size: 40px;
}


section.signup-list .signup-box form{
  width: 90%;
  height: 70%;
  padding: 50px;

  background: #E4FFAA;
  border-radius: 20px;

  /* display: flex; */
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;

  align-content: center;
  text-align: left;
  justify-content: center;
  margin: 0 auto;
}

.signup-box table   {
  /* width: 100px;  */
}

.signup-box table tr  {
  /* width: 100px;  */
}


.signup-box table tr td {
  /* width: 100px;  */
}




section.signup-list .signup-box form table td p {
  font-size: 25px;
  margin: 10px auto;
}


input[type="text"] {
  width: 600px; 
  height: 50px; 
  font-size: 18px;
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
  padding-left: 20px;
  border-radius: 10px;
  border-style: none;
}

input[type="password"] {
  width: 600px; 
  height: 50px; 
  font-size: 18px;
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;
  padding-left: 20px;
  border-radius: 10px;
  border-style: none;
}



section.signup-list .signup-box form table td .btn {
  width: 150px;
  padding: 10px;
  margin-top: 20px;
  font-size: 25px;
  font-family: "Yeon Sung", system-ui;
  font-weight: 400;
  font-style: normal;

  background: #4BDB73;
  border-color: #4BDB73;
  border-radius: 10px;
  cursor: pointer;
}
section.signup-list .signup-box form table td .btn:hover{
  color: #fff;
}

section.signup-list .signup-box form table tr.join-btn {
  text-align: center;
}
